<span id="lonely-message" *ngIf="tasks.length < 1">
  I'm so lonely. I need tasks.
</span>

<div class="task-list">
  <div *ngFor="let task of tasks; let i = index"
       id="task-{{i}}">
    {{task.description}}
  </div>
</div>
